
main {
    font-family:Arial, Helvetica, sans-serif
    
}

#intro {
    background-color: white;
    height: 100vh;
}
#intro  button{
    margin: 7px;
}
#content {
    background-color: #FFFFFF;
    padding: 50px;

}
#content p {
    font-size: var(--font-size-20);
    padding: 20px;
}
#content img {
    margin: 10px;
}
#courses {
    background-image: url("demos.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
#courses .container {
    margin: 10px;
}
#courses .course-card {
    position: relative;
    border-radius: 11px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border: 2px solid #E5E7E8;
    overflow: hidden;
}
#courses .course-card .text-free {
    position: absolute;
    top: 8%;
    left: 10%;
    background-color: white;
    padding: 3px 8px 3px 8px;
    border: 1px solid black;
    border-radius: 5px;
}
#courses img {
    border-radius: 7px;
    width: -webkit-fill-available;

}
#courses .own {
    color: gray;
    margin-left: 14px;
    align-items: center;
    font-size:var(--font-size-14);
}
#courses .own .brand {
    border: 2px solid #E5E7E8;
    width: 30px;
    height: 30px;
    padding: 4px;
}

.zoom-card {
    transition: all .3s ease-in-out;

}
.zoom-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 9px 0px #0000002b;
    cursor: pointer;
}




#aboutus {
    background-color: #DBEEF6;
}
#aboutus .container h2 {
    font-size: var(--font-size-84);
}
#contact {
    background-color: #271066;
    color: white;
}
#footer {
    background-color: #F5F5F5;
    height: 100px;
}

/* ___________________________________ */


#intro .container .text {
    width: 45%;
    z-index: 1;
}
#intro .container .image {
    width: 55%;
}

#intro .text-gaint {
    font-size: var(--font-size-84);
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(44, 44, 44);
}
#intro .text-sub {
    font-size: var(--font-size-24);
    letter-spacing: 1px;
}

#intro .btn {
    font-size: var(--font-size-20)
} 
#intro .join {
    padding: 18px 40px 18px 40px;
    margin: 0;
    font-size: var(--font-size-20);
    background-color: #0056D2 !important;
    background: none;
}
#intro .learmore {
    padding: 16px 38px 16px 38px ;
    font-size: var(--font-size-20);
    margin: 0;
    border: 3px solid #0056D2;
    background-color: white;
    border-radius: 5px;
}

#intro  img {
    max-width: 100%;
    height: auto;
}

#intro .wave {
    position: absolute;
    bottom: 0;
}





.about-us-section, .contact-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.about-us-section h2, .contact-section h2 {
    font-size: var(--font-size-2-5rem);
    margin-bottom: 20px;
    text-align: center;
}

.about-us-section p {
    font-size: var(--font-size-1-2rem);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#contact {
    background-color: #FAFAFA;
    color: #262626;

}
#contact textarea,
#contact input {
    padding: 10px;
    margin: 6px 10px 6px 10px;
    width: 80%;
    border: 1px solid gray;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for box-shadow */
    border-radius: 5px;
}

#contact textarea:focus,
#contact input:focus {
    box-shadow: 0px 0px 4px rgb(133, 163, 237);
    outline: none; /* Removes the default outline */
    border: 1px solid transparent;
    border: 2px solid rgb(133, 163, 237); /* Adds a border on focus */
}
#contact .getInTouch {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #0000001a;
    padding: 50px;
    width: 50%;
}
#contact .contact {
    width: 50%;
    background-color: #1089FF;
    color: white;
    scale: 112%;
    border-radius: 5px;
}

#contact .contact svg {
    background-color: #3b9eff;
    padding: 9px;
    border-radius: 50%;
    margin: 8px;
}
#contact button {
    padding: 10px;
    font-size: var(--font-size-1rem);
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #0056b3;
}
/* 
.bd-bt {
    border-bottom: 1px solid #0056b3;
} */

.footer {
    background-color: #333;
    color: rgb(107 98 255);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-column h3 {
    text-decoration: underline;
  }
.footer-column {
    width: 25%; /* Điều chỉnh nếu cần */
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li{
    padding: 5px;
}

.footer-column a {
    color: rgb(205, 202, 255);
    text-decoration: none;
}

.social-icons a {
    margin-right: 10px;
    font-size: var(--font-size-20);
    color: rgb(205, 202, 255);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}





/* Bot */


.container-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    
}

.bot-icon {
    cursor: pointer;
}

.bot-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chat-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.hidden {
    display: none;
}
.chat-container {
    position: fixed;
    bottom: -11%;
    right: -6%;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform: scale(0.5);
    transition: all 0.3s ease;
}

.move-chat-container {
    transform: scale(1);
    bottom: 20px;
    right: 20px;
}


.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-header h2 {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    font-size: var(--font-size-18);
    background: none;
    border: none;
}

.chat-history {
    height: 300px;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 10px;
}

.message-bot p {
    padding: 10px ;
    color: white;
    background-color: #2AAEEF;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    width: 66%;
    word-wrap: break-word;
}
.message-user p {
    padding: 10px;
    background-color: rgba(213, 213, 215, 0.703);
    border-radius: 5px;
    margin: 0 5px;
    word-wrap: break-word;
    max-width: 66%; 
}
.message-bot {
    margin: 7px 0 7px 0;
}
.message-user {
    margin: 7px 0;
    display: flex;
    justify-content: flex-end;
}
.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0  0 5px
}

.chat-input button {
    cursor: pointer;
    padding: 10px;
    background-color: #2AAEEF;
    color: #fff;
    border: none;
    border-radius: 0 5px  5px 0;
}
#mission{
    background-color: #0F6FC6
}
#vision {
    background-color: #EB0F4D
}
#core-values  {
    background-color: #00AF50
}

#MVV .container {
    position: relative;

}
#MVV .img-container {
    display: flex;
    justify-content: center;
}
#MVV .img-container img {
}
#MVV .card {
    padding: 40px;
    width: var(--w-33);
    align-items: center;
    margin: 0 15px 0 0 ;
    border-radius: 5px;
    font-size:  var(--font-size-18);
    color: white;
    place-self: flex-end;
}